<form class="query-datetime" action="#">
  <span class="col"></span>
  <select name="operator">
    <option value="eq">date equals (=)</option>
    <option value="dtlt">date is before (≤)</option>
    <option value="dtgt">date is after (≥)</option>
    <option value="betw">date is between (betw)</option>
  </select>
  <input type="date" name="arg">
  <button name="apply">Apply</button>
</form>