<form class="query-list" action="#">
  <input type="hidden" name="operator" value="eq">
  <span class="col"></span> equals
  <select name="arg">
  </select>
  <button name="apply">Apply</button>
</form>