<form class="query-integer" action="#">
  <span class="col"></span>
  <select name="operator">
    <option value="eq">equals (=)</option>
    <option value="neq">is not equal to (≠)</option>
    <option value="lt">is less than (<)</option>
    <option value="lte">is less than or equal to (≤)</option>
    <option value="gt">is greater than (>)</option>
    <option value="gte">is greater than or equal to (≥)</option>
    <option value="betw">is between (betw)</option>
  </select>
  <input type="number" name="arg"><button name="apply">Apply</button>
</form>