<form class="query-string query-text" action="#">
  <span class="col"></span>
  <select name="operator">
    <option value="eq">equals (=)</option>
    <option value="neq">is not equal to (≠)</option>
    <option value="strt">starts with (strt)</option>
    <option value="cont">contains (cont)</option>
  </select>
  <input type="string" name="arg"><button name="apply">Apply</button>
</form>