<!DOCTYPE html>
<html>
<head>
  <title>CleverTable</title>
  <%= stylesheet_link_tag    "clever_table/application", media: "all" %>
  <%= javascript_include_tag "clever_table/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
